<h4>Personajes</h4>
<ul class="list-group">

  <li *ngFor="
    let character of characterList;
    let i = index;
    let isFirst = first;
    let isLast = last;
    " class="list-group-item d-flex justify-content-between align-items-center" [ngClass]="{
    'list-group-item-dark' : isLast,
    'list-group-item-info' : isFirst
  }">
    <div>
      <span class="text-primary">{{ i + 1 }}. </span>
      {{
      character.name
      }} - <span><b>Power:</b></span> {{ character.power }}

      <span *ngIf="isFirst">Es el primero</span>
      <span *ngIf="isLast">Es el ultimo</span>

    </div>

    <button class="btn btn-danger" (click)="emitDeleteCharacter(character!.id )">x</button>
  </li>
</ul>
